@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Pridi', serif;
    overflow-x: hidden;
}
/*
Página HOME
*/
header{
    width: 90%;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    font-weight: 500;
    font-size: 60px;
    margin-left: 20px;
}
header ul{
    display: flex;
    font-size: 22px;
    gap: 30px;
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: black;
}
.home-main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.foot-main{
 margin-left: 30px;
}
.foot-main h1{
    font-weight: 600;
}
.foot-main p{
    font-size: 20px;
    margin-left: 50px;
    text-align: justify;
    width: 78%;
}
/*
Página Sobre nós
*/
.main-sobre{
    width: 95%;
    margin-left: 20px;
}
.main-sobre .missao{
    display: flex;
    background: #FEC3FF;
    border-radius: 20px;
    padding: 20px;
}
.main-sobre .missao .text{
    width: 60%;
    padding: 10px 20px;
    color: #A300A7;
    margin-right: 10px;
}
.main-sobre .missao .text h1{
    font-size: 48px;
    color: #FA00FF;
}
.main-sobre .missao .text p{
    font-size: 24px;
    width: 80%;
    text-align: justify;
    margin-left: 50px;
}
.main-sobre .missao img{
    width: 30%;
    padding: 20px;
}
.main-sobre .valores{
    margin-top: 20px;
    display: flex;
    background: #FFB3A3;
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 20px;
}
.main-sobre .valores .text2{
    width: 60%;
    padding: 10px 20px;
    color: #FF5530;
    margin-right: 10px;
}
.main-sobre .valores .text2 h1{
    font-size: 48px;
    color: #FF5530;
}
.main-sobre .valores ul{
    margin-left: 40px;
    font-size: 24px;
}
.main-sobre .valores img{
    width: 30%;
}

form{
    margin-top: -25px;
    width: 35%;
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: #ECECEC;
    padding: 20px 20px 50px 20px;
    border-radius: 15px;
    
}
form h1{
    font-size: 48px;
    text-align: center;
    background: -webkit-linear-gradient(#C5056C, #B500AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -20px;
}
form .input-txt{
    width: 90%;
    border: none;
    align-self: center;
    background-color: #BFBFBF;
    border-radius: 5px;
    padding: 10px 0;
    margin-bottom: 25px;
}
form label{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
form button{
    background: linear-gradient(90deg, #C5056C, #60005C);
    color: white;
    padding: 10px;
    width: 60%;
    font-size: 30px;
    align-self: center;
    font-family: 'Pridi', serif;
    font-weight: 500;
    border-radius: 10px;
}